body {
  background-color: $white;
  color: $white;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  margin: 0 auto;
  overflow: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

.shell-conatiner {
  height: 100%;
  width: 100%;
}

.player > div {
  overflow: auto;
}

a {
  color: $white;
}

.fontBold {
  font-weight: 700;
}

.disabled {
  color: $disabled;
  cursor: default;
  pointer-events: none;
}
