/************* Course Font Family ***********************/
$base-font-family: 'Calibri';

/************* Course Font Size ***********************/
$base-font-size: 1em;
$mobile-base-font-size: 1em;
$smaller-font-size: 10px;
$medium-font-size: 14px;
$course-title-size: 1.5em;

/************* Course Font Weight ***********************/
$base-font-weight:300;
$bold-font-weight:700;

/************* Course Background Colors ***********************/
$intro-bg: #5B6770;
$course-background: #ededed;
$theme-light-blue: #0A4166;
$theme-dark-blue: #083451;
$button-bg: #5e9f45;
$button-bg-hover: #5e9f45;
$footer-bg: #ededed;
$theme: #5e9f45;
$nav-button-color: #5e9f45;
$header-bg: #ededed;

//Line height
$base-line-height: 1.4;

//Spacing
$base-padding: 10px;
$base-margin: 10px;

//Text Color
$white: #FFFFFF;
$black: #000000;
$light-dark: #333333;
$back-with-opacity: rgba(0, 0, 0, 0.65);
$disabled: #AAB1B9;

//Height and Width
$header-height: 61px;
$footer-height: 65px;
$menu-width: 400px;
$menu-width-mobile: 100%;

//z-index
$header-zIndex: 100;
$footer-zIndex: 99;

/************ Button Styling Variables ******************/
$btn-primary-bg: #5e9f45;
$btn-primary-color: #fff;
$btn-primary-bg-hover: #5e9f45;
$btn-secondary-bg: #ae9f45;
$btn-border-radius: 5px;
