.btn-primary {
  background-color: $btn-primary-bg;
  border-radius: $btn-border-radius;
  color: $btn-primary-color;
  border: none;
  padding: $base-padding*.5;
}

.disabled {
    background-color: #ccc !important;
    color: #000 !important;
    pointer-events: none;
}
