.drop-container {
  height: 100%;
}

.drag-container {
  background-color: $white;
  color: #5e9e44;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 100%;
}
