.footer {
  background-color: $footer-bg;
  bottom: 0px;
  height: $footer-height;
  position: absolute;
  width: 100%;
  z-index: 99;
}

.button-container {
  display: flex;
  float: right;
}

.button-box a {
  background-color: #C1C6C9;
  border: 1px solid #C1C6C9;
  border-bottom: none;
  border-left: none;
  color: #5C6670;
  cursor: pointer;
  display: block;
  height: $footer-height - 2;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
  width: 40px;
}

.button-box a.disabled {
  color: #AAB1B9;
  cursor: default;
  pointer-events: none;
}

.footer .button-box a,.footer .nav-comp-container .page-counter,.footer .button-box a.disabled,.footer .button-box a.selected{
  background: #ffffff; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWJlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGViZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #edebec 51%, #edebec 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(51%,#edebec), color-stop(100%,#edebec)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#edebec 51%,#edebec 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#edebec 51%,#edebec 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#edebec 51%,#edebec 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#edebec 51%,#edebec 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edebec',GradientType=0 ); /* IE6-8 */
}

.footer .button-box a:hover{
  color : #fff !important;
  background: $button-bg-hover; /* Old browsers */
  border-top: 1px solid $button-bg-hover;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlMzEyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2VlMzEyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VlMzEyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2VlMzEyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZTMxMjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, $button-bg-hover 0%, $button-bg-hover 44%, $button-bg-hover 50%, $button-bg-hover 57%, $button-bg-hover 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$button-bg-hover), color-stop(44%,$button-bg-hover), color-stop(50%,$button-bg-hover), color-stop(57%,$button-bg-hover), color-stop(100%,$button-bg-hover)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $button-bg-hover 0%,$button-bg-hover 44%,$button-bg-hover 50%,$button-bg-hover 57%,$button-bg-hover 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $button-bg-hover 0%,$button-bg-hover 44%,$button-bg-hover 50%,$button-bg-hover 57%,$button-bg-hover 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $button-bg-hover 0%,$button-bg-hover 44%,$button-bg-hover 50%,$button-bg-hover 57%,$button-bg-hover 100%); /* IE10+ */
  background: linear-gradient(to bottom, $button-bg-hover 0%,$button-bg-hover 44%,$button-bg-hover 50%,$button-bg-hover 57%,$button-bg-hover 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$button-bg-hover, endColorstr=$button-bg-hover,GradientType=0 ); /* IE6-8 */
}

.nav-comp-container {
  background-color: #C1C6C9;
  color: $nav-button-color;
  display: inline-block;
  font-size: $base-font-size;
  height: $footer-height - 2;
  line-height: $footer-height - 2;
  padding: ($base-padding * 0.1) ($base-padding * 0.1) 0 0;
  vertical-align: top;
}

.nav-comp-container .page-counter {
  padding: 0 $base-padding;
}

.icon-transcript::before {
  content: "";
}

.icon-audio:before {
  content: "";
}

.icon-playPause:before {
  content: "";
}

.selected {
  .icon-transcript:before {
    content: "";
  }

  .icon-audio:before {
    content: "";
  }

  .icon-playPause:before {
    content: "";
  }
}
