.menu-overlay-style {
  position: absolute !important;
}

.menu-overlay-style {
  background-color: rgba(0, 0, 0, 0.498039) !important;
}

.menu-style {
  background-color: #000000;
  bottom: 2px !important;
  font-size: 1em;
  box-shadow: -3px 0 10px rgba(0,0,0,0.6) !important;
  margin-right: -10px;
  z-index: 9999999 !important;
}

.menu-header h1 {
  font: inherit;
  margin: 0;
}

.menu-header {
  background-color: #ED1C22;
  display: table;
  font-size: 1.25em;
  height: 40px;
  width: 100%;
}

.menu-header-title {
  color: #ffffff;
  display: table-cell;
  font-size: 1.15em;
  height: 100%;
  padding-left: $base-padding * 1.4;
  vertical-align: middle;
}

.menu-close-button-container {
  color: $white;
  cursor: pointer;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 40px;
}

.collapse-menu .collapse-menu-header h1 {
  padding: 6px 14px;
}
/* Style for list view expand componen t */
.menu-list {
  background-color: #000000;
}

.menu-list__contentInner {
  border-top: 0;
  position: relative;
}

.menu-list__contentInner ul {
  padding: 0;
  margin: 0;
}

.menu-list__contentInner ul li {
  box-shadow: inset 0 -1px #BABABA;
  cursor: pointer;
  list-style: none;
  padding: 10px 10px 10px 30px;
  font-size: 16px;
}

.menu-list__contentInner ul li a {
  color: #ffffff;
}

.menu-list__contentInner ul li:active,
.menu-list__contentInner ul li:hover {
  background-color: #ED1C22;
}

.menu-list__contentInner p:last-child {
  margin-bottom: 0;
}

.menu-list__trigger {
  box-shadow: inset 0 -1px #BABABA;
  display: block;
  font-weight: 400;
  text-decoration: none;
  text-indent: 8px;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background-color: #e9e9e9;
  color: #333333;
  cursor: pointer;
  font-size: 16px;
}

.menu-list__trigger:hover {
  background-color: #ED1C22;
}

.is-closed .icon-tree::before {
  content: "";
  font-size: 1.3em;
}

.is-open .icon-tree::before {
  content: "";
  font-size: 1.3em;
}

.icon-tree {
  vertical-align: middle;
}

.menu-list__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}

.menu-list__trigger.is-open {
  display: none;
}

.menu-page-progress {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ED1C22;
  vertical-align: sub;
  right: 18px;
  position: absolute;
}
