.header-nav {
    div.button-container {
        display: table;
        width: 100%;
        background: #dc3635;
    }
    .button-container div {
        display: table-cell;
        text-align: center;
    }
    .button-box {
            line-height: 45px;
    }
    .button-border a {
        border-right: 1px solid #696969;
        padding-right: 22px;
    }
    
    .fa {
        font-size: 22px;
    }
    .bar_pause{
        font-size: 21px;
        position: fixed;
    margin-top: 3.5%;
    margin-left: -1%;
    }
    .page-number, .page-separator, .total-pages {
        font-size: 14px !important;
            font-weight: 600;
    }
    .disabled {
        background-color: #dc3635 !important;
        color: #fff !important;
        pointer-events: none;
    }
}
