    .static-page2 {
        height: 100%;
        .bg {
            background-image: url("../../assets/images/template/coc-3.png");
            height: 100%;
        }
        .box-conatiner-top {
            margin-left: auto;
            margin-right: auto;
            margin-top: 3%;
            width: 55%;
        }
        .box-top-first {
            background: #4472c4;
            border-radius: 12px;
            border: 1px solid #fff;
            height: 150px;
            width: 600px;
        }
        .box-top-text {
            font-size: 40px;
            font-weight: 500;
            text-align: center;
        }
        .box-top-second {
            background: #fff;
            border-radius: 12px;
            border: 1px solid #4472c4;
            color: #000;
            height: 150px;
            left: 250px;
            opacity: 0.9;
            position: absolute;
            top: 138px;
            width: 600px;
        }
        .box-conatiner-bottom {
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            width: 50%;
        }
        .box-bottom-first {
            background: #a5a5a5;
            border-radius: 12px;
            border: 1px solid #fff;
            height: 150px;
            margin-top: 12%;
            width: 550px;
        }
        .box-bottom-second {
            background: #fff;
            border-radius: 12px;
            border: 1px solid #4472c4;
            color: #000;
            height: 150px;
            left: 280px;
            opacity: 0.9;
            position: absolute;
            top: 355px;
            width: 550px;
        }
        .intro {
            border-top: 1px solid #ccc;
            width: 100%;
        }
        .intr_sub_span {
            border-bottom: solid #cdcecd;
            border-radius: 2px 2px;
            padding-bottom: 10px;
        }
        .line {
            width: 1px;
            height: 60px;
            background-color: #fff;
            position: absolute;
        }
        #line1 {
            left: 528px;
            top: 270px;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            .bg {
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: -530px;
            }
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
            .bg {
                background-size: cover;
                background-position-x: 0px;
            }
        }
        @media (min-width: 321px) and (max-width: 480px) {
            .bg {
                background-position-x: -560px;
            }
        }
        @media (max-width: 320px) {
            .bg {
                background-position-x: -508px;
            }
            .box-conatiner-top {
                width: 85%;
            }
            .box-top-first {
                height: 110px;
                width: 250px;
            }
            .box-top-second {
                height: 110px;
                left: 40px;
                top: 100px;
                width: 250px;
            }
            .box-top-text {
                font-size: 20px;
            }
            .box-bottom-first {
                height: 110px;
                margin-top: 43%;
                width: 215px;
            }
            .box-conatiner-bottom {
                margin-top: -10%;
                width: 73%;
            }
            .box-bottom-second {
                height: 110px;
                left: 65px;
                top: 275px;
                width: 215px;
            }
        }
    }
