.static-page2 {
    height: 100%;
    .bg {
        background-image: url("../../assets/images/template/scrn_2bg.png");
        background-repeat: no-repeat;
        height: 100%;
    }
    .flex-container {
        color: #000;
    }
    .check_outer_box {
        background: #dc3635;
        border-radius: 50%;
        color: #fff;
        padding: 8px;
        position: absolute;
    }
    p {
        font-size: 17px;
        letter-spacing: 1px;
        margin-top: 5%;
        margin-bottom: 3%;
        margin-left: 7%;
    }
    .icon_text_grp {
        margin-left: 7%;
    }
    .intro {
        border-top: 1px solid #ccc;
        width: 100%;
    }
    .kaizen_text {
        font-size: 25px;
        padding-left: 2em;
        letter-spacing: 1px;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .bg {
            background-position-x: -530px;
            background-position-y: 0px;
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        .bg {
            background-position-y: 0px;
        }
    }
    @media (min-width: 321px) and (max-width: 480px) {
        .bg {
            background-image: url("../../assets/images/template/scrn2_bg_sm.png");
            background-position-y: -100px;
        }
        .container_sm {
            width: 100%;
        }
        .check_outer_box {
            padding: 7px;
        }
        .icon_text_grp {
            margin-left: 6%;
            margin-top: 9%;
        }
        p {
            font-size: 15px;
            letter-spacing: 0px;
            margin-left: 6%;
            margin-top: 7%;
        }
    }
    @media (max-width: 320px) {
        .bg {
            background-image: url("../../assets/images/template/scrn2_bg_sm.png");
        }
        .container_sm {
            width: 95%;
        }
        .check_outer_box {
            padding: 5px;
        }
        .icon_text_grp {
            margin-top: 9%;
        }
        .kaizen_text {
            font-size: 20px;
            line-height: 28px;
        }
        p {
            font-size: 12px;
        }
    }
    @media screen and (max-device-width: 767px) and (orientation: landscape) {
        .bg {
            background-image: url("../../assets/images/template/scrn2_bg_sm.png");
            background-position-y: -430px;
        }
        p {
            font-size: 14px;
            margin-left: 5%;
            margin-top: -0.5%;
        }
        .icon_text_grp {
            margin-left: 5%;
        }
    }
}
