.static-page3 {
    height: 100%;
    
    .bg {
        background-image: url("../../assets/images/template/coc_4.png");
        height: 100%;
    }
    
    h1 {
        font-size: 26px;
        font-weight: 600;
        margin-left: 2em;
        margin-top: 5%;
        letter-spacing: 1px;
    }
    .intro {
        border-top: none;
        top: 0;
        position: absolute;
    }
    
    .intro_para {
        letter-spacing: 0.5px;
        margin-top: 4%;
        margin-left: 2.5em;
        width: 36%;
        line-height: 32px;
        font-size: 18px;
    }
    
    .intr_sub_span {
        border-bottom: solid #b5d4c8;
        border-radius: 2px 2px;
        padding-bottom: 15px;
    }
    
    @media only screen and (min-device-width: 361px) and (max-device-width: 640px) {
        h1 {
            margin-left: 1em;
            margin-top: 12%;
        }
        .intro_para {
            margin-top: 10%;
            margin-left: 24px;
            width: 90%;
            font-size: 16px;
        }
    }
}
