.interactivity5 {
    height: 100%;
    .bg {
        background-image: url("../../assets/images/template/coc_7.png");
        background-repeat: no-repeat;
        background-position-y: -60px;
        height: 100%;
    }
    .buttons {
        margin-top: 2em;
        margin-left: 7%;
    }
    .btn_text_cntr {
        text-align: center;
    }
    .btn_icon_rt {
        font-size: 22px;
        float: right;
        position: absolute;
        right: 8%;
        top: 24%;
    }
    .content_margin {
        width: 90%;
    }
    .content_pading {
        margin-top: 10px;
    }
    .close-btn {
        float: right;
        font-weight: 600;
        font-size: 14px;
        right: 4px;
        top: 18px;
        position: absolute;
    }
    .flex-container {
        display: -webkit-flex;
        display: flex;
        width: 100%;
    }
    .intro {
        border-top: 1px solid #ccc;
        width: 100%;
    }
    .intr_sub_span {
        border-bottom: solid #b5d4c8;
        border-radius: 2px 2px;
        letter-spacing: 2px;
        padding-bottom: 15px;
    }
    .intro_heading {
        margin-left: 5%;
        margin-top: 10%;
        width: 100%;
    }
    .intro_sub_heading_2 {
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0.5px;
        margin-top: 4%;
        margin-left: 7%;
    }
    .intro_btn_benefit {
        border: 2px solid #fff;
        border-radius: 65px;
        cursor: pointer;
        font-size: 14px;
        margin-top: 2em;
        padding: 14px 30px;
        position: relative;
        width: 23%;
    }
    .intro_btn_benefit:hover,
    .active {
        background: #63ca91;
        border: none;
        padding: 16px 30px;
    }
    .intr_sub_span {
        border-bottom: solid #cdcecd;
        border-radius: 2px 2px;
        padding-bottom: 10px;
    }
    .left-side {
        width: 100%;
    }
    .middle_align {
        vertical-align: middle;
    }
    .popup-container {
        background: url("../../assets/images/template/popup-bg.png");
        background-position-x: -213px;
        color: #333;
        float: right;
        height: 150px;
        padding: 20px;
        width: 100%;
    }
    .popup-container-heading {
        font-size: 18px;
        left: 4%;
        letter-spacing: 1px;
        position: absolute;
        top: 4%;
    }
    .popup-container-text {
        margin-top: 9%;
    }
    .popup-container-text li {
        color: #000;
        font-size: 16px;
        letter-spacing: 1px;
        list-style-type: circle;
        margin-top: 2%;
    }
    .popup_icon_head {
        display: flex;
        margin-left: 4%;
    }
    .popup_icon {
        font-size: 29px;
        left: -3%;
        position: absolute;
        top: 8%;
    }
    .right-side {
        right: 3%;
        position: absolute;
        top: 32%;
        width: 53%;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .bg {
            background-size: cover;
            background-position-x: -450px;
            background-position-y: 0px;
        }
        .btn_icon_rt {
            right: 5%;
        }
        .close-btn {
            float: right;
            font-weight: bold;
            position: absolute;
            right: 2%;
            top: 10%;
        }
        .intro_btn_benefit {
            font-size: 14px;
            padding: 18px 20px;
            width: 35%;
        }
        .intro_btn_benefit:hover,
        .active {
            background: #63ca91;
            padding: 19px 21px;
        }
        .intro_sub_heading_2 {
            margin-top: 6%;
        }
        .popup-container-text {
            top: 12%;
            position: absolute;
            left: -9%;
        }
        .popup-container-text li {
            margin-top: 4%;
        }
        .popup-container {
            height: 170px;
        }
        .popup-container-heading {
            font-size: 14px;
            left: 7%;
        }
        .popup_icon {
            left: -5%;
        }
        .right-side {
            top: 21%;
            right: 1%;
            width: 46%;
        }
        .tab_popup_container {
            margin-top: 5%;
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        .bg {
            background-size: cover;
            background-position-y: 0px;
        }
        .popup-container {
            height: 161px;
        }
        .right-side {
            top: 29%;
        }
    }
    @media (min-width: 321px) and (max-width: 480px) {
        .bg {
            background-image: url("../../assets/images/template/coc_7_sm.png");
        }
        .btn_icon_rt {
            right: 6%;
        }
        .intro_btn_benefit {
            margin-left: auto;
            margin-right: auto;
            margin-top: 8%;
            padding: 17px 30px;
            width: 60%;
        }
        .intro_btn_benefit:hover {
            background: #63ca91;
            border: none;
            padding: 16px 30px;
        }
        .intr_sub_span {
            padding-bottom: 20px;
        }
        .intro_sub_heading_2 {
            font-size: 18px;
            font-weight: 500;
            margin-top: 12%;
        }
        .popup-container {
            background: url("../../assets/images/template/popup-bg.png");
            background-position-x: -285px;
            color: #333;
            height: 252px;
            width: 85%;
            position: absolute;
            top: 22%;
            left: 2%;
        }
        .popup-container-heading {
            font-size: 14px;
            left: 15%;
        }
        .popup_icon {
            font-size: 25px;
            left: 6%;
            position: absolute;
            top: 6%;
        }
        .popup-container-text {
            margin-top: 20%;
                margin-left: -3%;
        }
        .popup-container-text li {
            font-size: 16px;
            margin-top: 9%;
            line-height: 18px;
        }
        .tab_popup_container {
            margin-top: 10%;
        }
    }
    @media (max-width: 320px) {
        .bg {
            background-image: url("../../assets/images/template/coc_7_sm.png");
            background-position-x: -101px;
            background-position-y: -155px;
        }
        .btn_icon_rt {
            right: 3%;
        }
        .intro_btn_benefit {
            margin-left: auto;
            margin-right: auto;
            margin-top: 8%;
            padding: 14px 30px;
            width: 62%;
        }
        .intro_btn_benefit:hover {
            background: #63ca91;
            border: none;
            padding: 16px 30px;
        }
        .intr_sub_span {
            padding-bottom: 20px;
        }
        .intro_sub_heading_2 {
            font-size: 18px;
            font-weight: 500;
            margin-top: 12%;
        }
        .popup-container {
            background: url("../../assets/images/template/popup-bg.png");
            background-position-x: -285px;
            height: 230px;
            width: 84%;
            position: absolute;
            top: 25%;
            left: 2%;
        }
        .popup-container-heading {
            font-size: 12px;
            left: 18%;
        }
        .popup_icon {
            font-size: 25px;
            left: 6%;
            position: absolute;
            top: 6%;
        }
        .popup-container-text {
            margin-top: 20%;
        }
        .popup-container-text li {
            font-size: 14px;
            margin-top: 9%;
            line-height: 18px;
        }
        .tab_popup_container {
            margin-top: 10%;
        }
    }
}
