.introduction {
    height: 100%;
    .bg {
        background-image: url("../../assets/images/template/scrn_1BG.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .buttons {
        margin-top: 2em;
        margin-left: 7%;
    }
    .btn_text_cntr {
        text-align: center;
    }
    .btn_icon_rt {
        font-size: 22px;
        float: right;
        position: absolute;
        right: 8%;
        top: 24%;
    }
    .content_margin {
        width: 90%;
    }
    .content_pading {
        margin-top: 10px;
    }
    .flex-container {
        display: -webkit-flex;
        display: flex;
        width: 100%;
    }
    .intro {
        border-top: 1px solid #ccc;
        width: 100%;
    }
    .intr_sub_span {
        border-bottom: solid #b5d4c8;
        border-radius: 2px 2px;
        letter-spacing: 2px;
        padding-bottom: 15px;
    }
    .intro_heading {
        margin-left: 5%;
        margin-top: 10%;
        width: 100%;
    }
    .img-text-grp {
        font-size: 21px;
        font-weight: bold;
        letter-spacing: 2px;
        position: relative;
        left: 10%;
    }
    .left-side {
        color: #000;
        margin-left: 7%;
        width: 60%;
    }
    li {
        font-size: 17px;
        letter-spacing: 1px;
        list-style: none;
        padding-bottom: 8px;
    }
    li:before {
        /* For a round bullet */
        content: '\2022';
        /* For a square bullet */
        /*content:'\25A0';*/
        display: block;
        position: relative;
        max-width: 0;
        max-height: 0;
        left: -36px;
        top: -12px;
        color: #dc3635;
        font-size: 40px;
        padding-top: 12px;
    }
    .main-container {
        display: flex;
    }
    .middle_align {
        vertical-align: middle;
    }
    .right-side {
        margin-top: 4%;
        width: 40%;
    }
    .text-blk {
        color: $black;
        margin-left: 6px;
    }
    .text-red {
        color: #dc3635;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .bg {
            background-position-y: 0px;
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        .bg {
            background-position-y: 0px;
        }
    }
    @media (min-width: 321px) and (max-width: 480px) {
        .bg {
            background-image: url("../../assets/images/template/scrn1_3_4_bg_sm.png");
            
        }
        .container_sm {
            margin-left: 4%;
            margin-top: -6%;
            color: #000;
            width: 90%;
        }
        .intr_sub_span {
            padding-bottom: 20px;
        }
        .image_blk_sm {
            position: absolute;
            top: 40%;
            left: 24%;
        }
        .img-text-grp {
            font-size: 18px;
            line-height: 35px;
            left: 18%;
        }
        li {
            font-size: 12px;
            line-height: 16px;
            padding-bottom: 0px;
        }
        li:before {
            top: 0px;
        }
    }
    @media (max-width: 320px) {
        .bg {
            background-image: url("../../assets/images/template/scrn1_3_4_bg_sm.png");
            background-position-y: 0px;
        }
        .container_sm {
            margin-left: 4%;
            color: #000;
            width: 85%;
        }
        .intr_sub_span {
            padding-bottom: 20px;
        }
        .image_blk_sm {
            position: absolute;
            top: 62%;
            left: 24%;
        }
        .image_blk_sm>img {
            width: 70%;
        }
        .img-text-grp {
            font-size: 17px;
            line-height: 30px;
        }
        li {
            font-size: 12px;
            line-height: 15px;
            padding-bottom: 0px;
        }
        li:before {
            top: 0px;
        }
    }
    @media screen and (max-device-width: 767px) and (orientation: landscape) {
        li {
            font-size: 12px;
        }
        .container_sm {
            display: flex;
        }
        .left-text-content {
            left: 8%;
            position: relative;
            top: -30px;
            width: 80%;
        }
    }
}
