.introduction {
    height: 100%;
    .bg {
        background-image: url("../../assets/images/template/coc_7.png");
        background-repeat: no-repeat;
        background-position-y: -60px;
        height: 100%;
    }
    .buttons {
        margin-top: 2em;
        margin-left: 7%;
    }
    .btn_text_cntr {
        text-align: center;
    }
    .btn_icon_rt {
        font-size: 22px;
        float: right;
        position: absolute;
        right: 8%;
        top: 24%;
    }
    .content_margin {
        width: 90%;
    }
    .content_pading {
        margin-top: 10px;
    }
    .close-btn {
        float: right;
        font-weight: 600;
        font-size: 14px;
        right: 8px;
        top: 15px;
        position: absolute;
    }
    .flex-container {
        display: -webkit-flex;
        display: flex;
        width: 100%;
    }
    .intro {
        border-top: 1px solid #ccc;
        width: 100%;
    }
    .intr_sub_span {
        border-bottom: solid #b5d4c8;
        border-radius: 2px 2px;
        letter-spacing: 2px;
        padding-bottom: 15px;
    }
    .intro_heading {
        margin-left: 5%;
        margin-top: 10%;
        width: 100%;
    }
    .intr_sub_span {
        border-bottom: solid #cdcecd;
        border-radius: 2px 2px;
        padding-bottom: 10px;
    }
    .intro_sub_heading_list li {
        font-size: 18px;
        letter-spacing: 1px;
        list-style-type: circle;
        padding-top: 10px;
    }
    .intro_sub_heading_list li:first-child {
        padding-top: 0px;
    }
    .left-side {
        width: 40%;
    }
    .left-side>img {
        margin-left: 14%;
        margin-top: 5%;
    }
    .main-container {
        display: flex;
    }
    .middle_align {
        vertical-align: middle;
    }
    .right-side {
        width: 60%;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .bg {
            background-size: cover;
            background-position-x: -450px;
            background-position-y: 0px;
        }
        .intro_sub_heading_list {
            margin-left: 4%;
        }
        .intro_sub_heading_list li {
            font-size: 21px;
        }
        .main-container {
            display: block;
        }
        .left-side {
            width: 100%;
        }
        .left-side>img {
            margin-left: 7%;
            margin-top: 3%;
        }
        .right-side {
            width: 100%;
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        .bg {
            background-size: cover;
            background-position-y: 0px;
        }
        .right-side {
            top: 29%;
        }
    }
    @media (min-width: 321px) and (max-width: 480px) {
        .bg {
            background-image: url("../../assets/images/template/coc_7_sm.png");
        }
        .btn_icon_rt {
            right: 6%;
        }
        .intr_sub_span {
            padding-bottom: 20px;
        }
    }
    @media (max-width: 320px) {
        .bg {
            background-image: url("../../assets/images/template/coc_7_sm.png");
            background-position-x: -101px;
            background-position-y: -155px;
        }
        .intr_sub_span {
            padding-bottom: 20px;
        }
        .intro_sub_heading_list li {
            font-size: 12.5px;
            line-height: 12px;
            padding-top: 12px;
        }
        .intro_sub_heading_list li:first-child {
            padding-top: 0px;
        }
        .mob_img>img {
            margin-top: 3%;
            margin-left: 7%;
            width: 280px;
        }
    }
}
