.intro-container {
    height: 100%;
    .arror-right {
        position: absolute;
        right: 18%;
        top: 39%;
    }
    .bg {
        background-image: url("../../assets/images/template/landing.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .btn {
        margin-top: 0;
        margin-left: 10%;
        width: 30%;
    }
    .btn_text {
        padding: 26px 40px;
        border-radius: 35px;
        border: 2px solid #dc3635;
        color: #515151;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2px;
        position: relative;
        text-align: center;
    }
    .btn_text:hover {
        background: #dc3635;
        color: #fff;
    }
    .welcome_text {
        margin-top: 10%;
        margin-left: 10%;
        text-align: left;
        width: 50%;
    }
    .intro_para_one_bold {
        font-size: 26px;
        font-weight: 600;
    }
    .intro_para_main_head {
        font-size: 59px;
        font-weight: 700;
        margin-top: -10px;
    }
    .intro_para_main_head_red {
        color: #dc3635;
        font-size: 59px;
        font-weight: 700;
    }
    h1 {
        color: #515151;
        font-weight: normal;
    }
    @media only screen and (max-device-width: 700px) {
        .content .welcome_text {
            margin: 0 auto auto;
            width: 100%;
        }
    }
    @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait) {
        .bg {}
        .content .welcome_text {
            margin-top: 55%;
            text-align: center;
            width: 100%;
        }
        .intro_para_main_head {
            font-size: 65px;
            font-weight: 700;
        }
        .btn {
            margin-left: auto;
            margin-right: auto;
            width: 36%;
        }
        .btn_text {
            padding: 24px 34px;
            border-radius: 35px;
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .arror-right {
            right: 16%;
        }
        .bg {
            background-position-x: -560px;
        }
        .btn {
            margin-top: 7%;
        }
        .btn_text {
            font-size: 16px;
            text-align: center;
            width: 10%;
            padding: 27px 45px;
        }
        .intro_para_main_head {
            font-size: 60px;
        }
        .welcome_text {
            margin-top: 40%;
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        .bg {
            background-size: cover;
            background-position-x: 0px;
        }
    }
    @media only screen and (max-device-width: 480px) {
        .arror-right {
            right: 14%;
        }
        .bg {
            background-image: url("../../assets/images/template/Intro_bg_sm.png");
        }
        .btn {
            width: 40%;
        }
        .btn_text {
            padding: 20px 33px;
            border-radius: 50px;
        }
        .intro_para_one_bold {
            font-size: 26px;
        }
        .intro_para_main_head {
            font-size: 48px;
        }
        .content .welcome_text {
            margin-top: 70%;
            text-align: center;
            width: 100%;
        }
    }
}
