.bg {
  background-image: url("../../assets/images/template/landing.png");
  height: 100%;
  background-repeat: no-repeat;
}
.btn {
  margin-top: 3%;
  margin-left: 10%;
  width: 6%;
}

 .btn_text {
   padding: 22px 32px;
   border-radius: 35px;
   border: 2px solid #72ddaa;
  color: #72ddaa;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
}

.btn_text:hover {
  background: #72ddaa;
  color: #142330 !important;
}

.intro_para_one_bold{
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 600;
}

.intro_para_one_normal{
  letter-spacing: 1.5px;
  font-size: 24px;
}

.intro_para_main_head{
    font-size: 75px;
    font-weight: 700;
}
.intro-container{
h1 {
  font-weight: normal;
  }
}
.content .welcome_text {
  margin-top: 5%;
  margin-left: 10%;
  text-align: left;
  width: 50%;
}

@media only screen and (max-device-width: 700px) {
      .content .welcome_text {
        margin: 0 auto auto;
        width: 100%;
      }
}


@media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait) {
  .bg {
    background-image: url("../../assets/images/template/mbg1.png");
    height: 100%;
    background-repeat: no-repeat;
  }
  .content .welcome_text {
    margin-top: 58%;
    text-align: center;
    width: 100%;
  }

  .intro_para_main_head{
      font-size: 65px;
      font-weight: 700;
  }
.btn{
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

  .btn_text {
    padding: 24px 34px;
    border-radius: 35px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
  .bg {
    background-image: url("../../assets/images/template/landing.png");
    background-repeat: no-repeat;
    height:100%;
    background-position-x: -224px;
  }
  .btn_text{
    text-align: center;
    width: 10%;
    padding: 24px 34px;
  }
  .intro_para_main_head{
      font-size: 60px;
  }
}
