/* Intro page */
.intro-container {
  background-color: $theme-light-blue;
  height: 100%;
  width: 100%;
}

.content
{
  background-color: #000;
  height: 100%;
  margin: auto;
  overflow-x: hidden;
  width: 100%;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.close-btn {
  color: $nav-button-color;
  float: right;
  font-weight: 700;
  cursor: pointer;
}

.buttons button.selected {
  background-color: $nav-button-color;
  color: $white;
}

.intro-container {
    
    h1
   {
       font-size: 1.5em;
       font-weight: normal;
    }
    body
    {
        font-size: 16px;
    }
  .content .welcome_text
  {
    margin: 20% auto auto auto;
    text-align: center;
    width: 50%;
  }
    
   .flex-container
  {
      display: flex;
    display: -webkit-flex;
  }

  .left-side
  {
    border-right: 1px solid #ccc;
    text-align: right;
    text-transform: uppercase;
    padding-right: 10px;
    width: 50%;
  }

  .right-side
  {
    border-left: 1px solid #ccc;
    text-align: left;
    text-transform: uppercase;
    padding-left: 10px;
    width: 50%;
  }

  .bg
  {
    background-image: url("/app/assets/images/template/intro.jpg");
    height:100%;
    background-repeat: no-repeat;
    
  }

         @media only screen  and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
          .bg
        {
             background-position-x: -10px;
        }
    }
  .instruction_text
  {
    color:#fff;
    font-weight:bold;
    position: relative;
    top: 10px;
  }

  .btn
  {
    cursor: pointer;
    text-align: right;
    width: 80%;
      margin-top: 5%;
  }
    
    
  .btn .btn_text
  {
    color: #5e9e44;
    font-size: 1.25em;
    left: -15px;
    position: relative;
    top: 12px;
  }

  .start-button {
    background-image: url("/app/assets/images/template/start-btn.jpg");
    background-repeat: no-repeat;
    display: inline-block;
    height: 45px;
    text-align: center;
    width: 112px;
  }
    
          @media only screen and (max-device-width: 800px) {
          
        .bg
        {
             background-position-x: -160px;
        }
              
         .content .welcome_text {
            margin: 0% auto auto auto;
            width: 100%;
        }
                  
            .btn
          {
            cursor: pointer;
            text-align: center;
            width: 100%;
        }
    }
    
       @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
       .content
         {
             font-size: 0.875em;
         }
           h1
           {
               font-size: 1.5em;
               font-weight: normal;
           }
            .bg
            {
                 background-position-x: -400px;
            }
           
           .content .welcome_text {
            margin: 25% auto auto auto;
            width: 100%;
           }

            .btn
          {
            cursor: pointer;
            text-align: center;
            width: 100%;
        }
           
           .instruction_text
           {
               font-size: 14px;
           }
    
    }
    
        
}

.static-page1 {
     body
    {
        font-size: 16px;
    }
    
   h1
{
	font-size : 1.875em;
	font-weight : normal;
	
}
    
  .flex-container
  {
    background-color:#5e9e44;
    border-top: 4px solid #05A251;
    display: -webkit-flex;
    display: flex;
    height: 270px;
    margin-top: 26%;
    opacity:0.9;

  }
  .left-side
  {
    width: 65%;
  }

  .right-side
  {
    margin: auto;
    width: 30%;
  }

  .bg
  {
    background-image: url("/app/assets/images/template/bg1.jpg");
    height:100%;
  }

  .instruction_text
  {
    color:#fff;
    font-weight:bold;
  }

  .intro
  {
    border-top: 2px solid #ccc;
    width: 100%;
  }

  .intro_heading
  {
    margin-left: 30px;
    margin-top: 40px;
  }

  .intro_para
  {
    margin-left: 30px;
    width: 80%;
  }

  .intro_list
  {
    margin-left:25px;
  }
    
    @media only screen and (max-device-width: 1024px) {
        .flex-container
        {
            margin-top: 23%;
        }
        
    }
      @media only screen and (max-device-width: 800px) {
          
            .content
         {
             font-size: 0.875em;
         }
          .intro_heading {  
            margin-top: 0px;
          }       
         h1
         {
             font-size: 1.5em;
         }
          
        .bg
        {
            background-size: 100%;
            background-position-y: -30px; 
        }
        
          .flex-container
          {
              margin-top: 10%;
              height: 225px;  
          }
          
          .left-side{
              width: 80%;
          }
          .right-side {
              width: 30%;
          }
          .right-side img{
              width: 90%;
          }
          .intro_para
          {
              width: 90%;
          }
    }
     @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
      .content
         {
             font-size: 0.875em;
         }
         .bg {
           
            background-size: 100% 100%;
            background-repeat: no-repeat;
            
         }
         
         h1
         {
             font-size: 1.5em;
         }
         .flex-container
         {
             display: block;
             height: 100%;
             margin-top: 20%;
         }
         
         .intro_heading {
             margin-top: 0px;
         }
         .left-side
         {
             width: 100%;
         }
         .right-side
         {
             width: 80%;
             margin-bottom: 5%;
         }
         .right-side img
         {
             width: 45%;
             vertical-align: middle;
         }
    }
}




.static-page2 {
       
    h1
{
	font-size : 1.875em;
	font-weight : normal;
	
}
    
  .flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
  }

  .left-side {
    width: 100%;
  }
    
     .middle_align
    {
        vertical-align: middle;
    }
    
  .right-side {

    margin: auto;
    width: 100%;
  }
    .popup-container {
    background: white;
    color: #333;
    padding: 10px;
    width: 465px;
    height: 250px;
    }

  .bg {
    background-image: url("/app/assets/images/template/bg2.jpg");
    display: inline-block;
    height:100%;
    width: 100%;
  }

  .instruction_text {
    font-weight:bold;
    color:#fff;
    margin:10px;
  }

  .intro {

    float:right;
    height: 562px;
    width: 100%;
    opacity: 0.9;
  }

  .intro_heading {
    margin-left: 3%;
    margin-top: 25%;
  }

  .intro_para {
    margin-left: 20px;
    margin-top: 40px;
    width: 80%;
  }

  .intro_list {
    width: 70%;
  }

  .btn {
    background-color:#50a82d;
    width:100%;
    float:left;
    margin-top:8%;
  }

  button {
    background-color:#f9f9f9;
    color:#5e9e44;
    font-size:1em;
    font-weight: bold;
    height: 55px;
    margin-left:20px;
    width: 200px;
  }
    
      @media only screen and (max-device-width: 800px) {
          
          .bg{
              background-position-x: -150px; 
          }
            .content
         {
             font-size: 0.875em;
         }
        
          .intro_heading {
              margin-top: 0px;
          }
          
          .intro{
              width: 100%;
          }
          .intro_para{
              margin-top: 0px;
          }
          
          .intro_list{
              width: 90%;
          }
          
          .btn{
              margin-top: 0px;
              text-align: center;
          }
          
          button
          {
            margin-left: 0px;
            width: 40%;
          }
    }
    
      @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
          
          .bg
          {
              height: 568px;
          }
          
          h1
          {
              font-size: 1.5em;
          }
      .content
         {
             font-size: 1em;
         }
          
          button
          {
              width: 200px;
          }
          
          .intro
          {
              width: 100%;
              height: auto;
          }
          
          .intro_para
          {
              margin-top: 0px;
          }
           .intro_heading {
          
              margin-top: 5%;
          }
          
          .intro_list
          {
              width: 90%;
          }
          .btn {
              float: none;
              text-align: center;
              height: 35%;
              display: grid;
              margin-top: 0px;
          }
    }
    
    
}

.static-page3 {
    
    h1
{
	font-size : 1.875em;
	font-weight : normal;
	
}
    
    .intro {
    width: 100%;
    border-top: 2px solid #ccc;
  }
  .bg {
    background-image: url("/app/assets/images/template/bg3.jpg");
    height:100%;
   
  }

  .instruction_text {
    font-weight:bold;
    color:#fff;
  }

  
.flex-container {
    display: -webkit-flex;
    display: flex;
    background-color: #5e9e44;
    margin-top: 30%;
    height: 240px;
    opacity: 0.9;
  }

  .intro_heading {
    margin-left: 30px;
    margin-top: 40px;
  }

  .intro_para {
    margin-left: 82px;
    width: 688px;
    margin-top: 24px;
  }

  .intro_list {
    margin-left:25px;
  }

  @media only screen and (max-device-width: 800px)
     {
         h1 {
                font-size: 1.5em;
                font-weight: normal;
            }
         .flex-container {
                display: -webkit-flex;
                display: flex;
                background-color: #5e9e44;
                height: 100%;
                opacity: 0.9;
                margin-top: 0px;
            }
         .intro {
                width: 100%;
                border-top: 2px solid #ccc;
                height: 700px;
                }
         .intro_para {
                margin-left: 46px;
                width: 408px;
                margin-top: 24px;
            }
         .bg{
                 background-position-x: -328px;
         }
    }
    @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
         h1 {
                font-size: 1.5em;
                font-weight: normal;
            }
        .flex-container {
                display: -webkit-flex;
                display: flex;
                background-color: #5e9e44;
                height: 24%;
                opacity: 0.9;
                margin-top: 266px;
            }
        .intro {
                width: 100%;
                border-top: 2px solid #ccc;
                height: 700px;
                }
        .intro_para {
                margin-left: 11px;
                width: 306px;
                margin-top: 0px;
            }
        .intro_heading {
                margin-left: 12px;
                margin-top: 20px;
            }
        .bg{
                 background-position-x: -430px;
         }
    }
}



.static-page4 {
    
    h1
{
	font-size : 1.875em;
	font-weight : normal;
	
}
    
  .flex-container
  {
  	display: -webkit-flex;
    display: flex;
  	background-color:#5e9e44;
  	margin-top: 22%;
    height: 335px;
  	opacity:0.9;

  }
  .left-side
  {
  	width: 100%;


  }

  .right-side
  {
  	width: 30%;
      margin: auto;

  	}

  .bg
  {

  	background-image: url("/app/assets/images/template/bg4.jpg");
  	height:100%;
  	

    }

  .instruction_text
  {
  	font-weight:bold;
  	color:#fff;

  }

  .intro
  {


  	width: 100%;
  	border-top: 2px solid #ccc;

  }

  .intro_heading
  {
  	width:100%;
  	margin-top: 55px;
  	text-align:center;
  }

  .box1, .box2, .box3, .box4
  {
  	width:90%;
  }

  .container
  {

 -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
  	text-align: center;
  	width:70%;
  	margin: auto;

  }

  .img_caption
  {
  	margin: auto;
  	text-align: center;
  	width: 80%;
  	margin-top: 5%;

  }

    @media only screen and (max-device-width: 800px) {
        h1{
            font-size: 1.5em;
        }
        .flex-container {
            margin-top: 5%;
        }
        .intro_heading {
        width: 100%;
        margin-top: 2%;
        }
        .container{
            width: 90%;
        }
        .img_caption {
            width: 100%;
        }
    }

    @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {

        h1{
            font-size: 1.5em;
        }

        .content{
            font-size: 0.875em;
        }
        .intro_heading {
        width: 100%;
        margin-top: 5%;
        }
        .container
          {

         -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;
            text-align: center;
            width: 80%;
            margin: auto;
        }

         .flex-container {
            height: 750px;
            margin-top: 10%;
            width: 100%;

        }
         .box1, .box2, .box3, .box4
          {
            width:100%;
              height: 160px;
          }

        .img_caption{
            width: 80%;
        }
    }
}
.interactivity1 {
    
    h1
{
	font-size : 1.875em;
	font-weight : normal;
	
}
    
  .flex-container
  {
  	display: -webkit-flex;
    display: flex;
    width: 100%;
  }

  .left-side
  {
  	width: 100%;
  }

    .middle_align
    {
        vertical-align: middle;
    }
    
  .right-side
  {
    bottom: 60px;
    right: 10px;
  	position: absolute;
  }

  .bg
  {
  	background-image: url("/app/assets/images/template/bg5.jpg");
    display: inline-block;
    height: 100%;
    width: 100%;
    background-position-y: -50px;
  }

  .instruction_text
  {
  	color:#fff;
  	font-weight:bold;
  	margin:10px;
  }

  .intro
  {
  	background-color: #72A65C;
  	float:left;
  	height: 562px;
  	opacity: 0.9;
  	width: 50%;
  }

  .intro_heading
  {
  	margin-left: 5%;
      margin-top: 10%;
  	width: 70%;
  }

  .intro_para
  {
  	margin-left: 5%;
      margin-top: 40px;
      width: 75%;
  }

  .btn_div
  {
  	float:left;
  	margin: 8% auto auto 3%;
  	width:100%;
  }
  .buttons
  {
    display: flex;
    display: -webkit-flex;
  	margin-top:10px;
  }
  button
  {
  	color:#5e9e44;
    cursor: pointer;
  	font-size:1em;
  	font-weight: bold;
  	height: 55px;
  	margin-left:10px;
    width: 200px;
  }

  .popup-container {
    background: white;
    color: #333;
    padding: 10px;
    width: 465px;
    height: 250px;
  }
    
    @media only screen and (max-device-width: 800px) {
        
         h1
           {
               font-size: 1.5em;
           }
        .content{
            font-size: 0.875em;
        }
        .intro{
            width: 100%;
        }
        
       .intro_heading {
        margin-left: 2%;
        margin-top: 0px;
        width: 100%;
        }
        
        .middle_align{
               vertical-align: middle;
               width: 3%;
           }

        .intro_para{
            margin-top: 0px;
        }
        .buttons
        {
            margin-top: 0px;
            margin: inherit;
        }
        
        button
        {
            height: 40px;
        }
        .btn_div{
        margin: 0% auto auto 3%;
        }
        
        .popup-container {
        width: 90%;

        margin: auto;
        }
        
        .right-side {
    
            right: 0px;
            bottom: auto;
            position: absolute;
            width: 100%;

            margin: auto;
        }
      
    }
    
       @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
           
           h1
           {
               font-size: 1.5em;
           }
           .intro
           {
               width: 100%;
           }
           
           .intro_heading
           {
               width: 100%;
               margin-top: 0px;
           }
           
           .intro_para
           {
               margin-top: 0px;
           }
           .buttons
           {
               display: block;
               margin-left: 10%;
           }
           
           button
           {
               height: 40px;
               margin: 5px;
           }
           .btn_div
           {
               margin: 0% auto auto 3%;
           }
           
           .middle_align{
               vertical-align: middle;
               width: 3%;
           }
           .right-side{

               right: 0;
               bottom: 30%;
               width: 100%;
           }
           .popup-container
           {
               margin: auto;
               width: 90%;
               height: 360px;
           }
           
    }
}

.interactivity2 {
    
    h1
{
	font-size : 1.875em;
	font-weight : normal;
	
}
  .flex-container
  {
  	background-color: #72A65C;
  	display: -webkit-flex;
    display: flex;
  	height: 170px;
    width: 100%;
  }

  .left-side
  {
  	width: 100%;
  }

  .right-side
  {
  	width: 30%;
    margin: auto;
  	}

  .bg
  {
  	background-image: url("/app/assets/images/template/bg6.jpg");
    background-position-y: -70px;
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  .instruction_text
  {
  	font-weight:bold;
  	color:#fff;
  	margin:10px;
  }

  .intro
  {
    float: left;
    height: 450px;
    width: 100%;
    margin-top: 95px;
    opacity: 0.9;
  }

  .intro_heading
  {
    margin-left: 66px;
  }

  .intro_para
  {
  	margin-left: 69px;
  }

  .btn_div
  {
  	width: 100%;
    float: left;
    margin-top: 13px;
    margin-left: 54px;
  }

  .container
  {
  	background-color: #335727;
    height: 67px;
  	opacity: 0.9;
  }
  .buttons
  {
  	margin-top: 72px;
    margin-left: 60px;
  }
  button
  {
    cursor: pointer;
  	height: 67px;
    width: 255px;
    font-size: 1em;
    color: #5e9e44;
    font-weight: bold;
  }

  .tab-container {
    background-color: $white;
    color: #333;
    height: 190px;
    padding: $base-padding;
  }

     @media only screen and (max-device-width: 800px) {

         h1
           {
               font-size: 1.5em;
           }
        .content{
            font-size: 0.875em;
        }

         .intro{
             margin-top: 5%;
         }

          .intro_para {
            margin-left: 5%;
            margin-bottom: 2%;
         }

          .intro_heading {
            margin-left: 5%;
        }

         .flex-container{
             height: 25%;
         }
         .middle_align{
             vertical-align: middle;
             width: 2%;
         }

         .buttons{
             display: flex;
             display: -webkit-flex;
             margin-left: 0px;
            margin-top: 6%;
         }
         .btn_div{
             margin-top: 0px;
             margin-left: 5%;
         }
         button{
             width: 34%;
         }

         .tab-container {
        background-color: #FFFFFF;
        color: #333;
        height: 190px;
        padding: 10px;
        position: absolute;
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        top: 5%;
        height: 50%;
         }
    }

     @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {

           h1
           {
               font-size: 1.5em;
           }

         .buttons{
             display: block;
             margin-top: 10%;
             width: 80%;
             margin: auto auto auto 5%;
         }

         .container{
             margin-top: 13%;
            height: 700px;
         }
         button{
             width: 100%;
             margin: 5%;
         }

         .tab-container {

        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        width: 90%;
        margin: auto;
        padding: 10px;
        height: 70%;
        z-index: 999;
    }

    }
}

.dragdrop1 {
    
   h1
    {
	font-size : 1.875em;
	font-weight : normal;
	
    } 
  .bg
  {
  	background-image: url("/app/assets/images/template/bg9.jpg");
  	background-position-y: -100px;
    display: inline-block;
  	height:100%;
    width: 100%;
  }

  .instruction_text
  {
  	color:#fff;
  	font-weight:bold;
  }
  .container
  {
  	background-color: #3A821F;
  	float: left;
  	height: 100%;
  	margin-top: 10%;
  	opacity: 0.9;
  	width: 100%;
  }

  .flex_container
  {
  	display: -webkit-flex;
    display: flex;
  }
  .summary
  {
  	margin-left: 5%;
  }

  .drag_drop
  {
  	background-color: #3A821F;
  	float: left;
  	height: 180px;
  	width: 100%;
  }

  button
  {
  	color:#5e9e44;
  	font-size:1em;
  	font-weight: bold;
  	height: 60px;
      width: 100%;
  }

  .activity
  {
  	margin-top: 1%;
  }
  table
  {
  	background-color: #3A821F;
  	width: 90%;
  	margin: auto;
  }

  tr
  {
  	border-bottom: 1px solid #fff;
  }

  td
  {
  	padding: 10px;
  }


  .quiz
  {
  	width: 34%;
  }

  .drop_box
  {
  	background-color: #97BC89;
  	height: 60px;
  }
  .drop
  {
  	margin: 5px;
  	width: 25%;
  }

  .drag
  {
  	height: 60px;
  	margin: 5px;
  	width: 25%;
  }
}

.static-page5
{
    
h1
{
	font-size : 1.875em;
	font-weight : normal;
	
}

.header
{
	margin: auto;
	background-color: #ddd;
	width: 1024px;
	height: 100px;
}

.content
{
	margin: auto;
	width: 100%;
	height: 562px;
	background-color: #000;

}


.black
{
	color: #000;
}

.white
{
	color: #fff;
}

.footer
{
	margin: auto;
	background-color: #ddd;
	width: 1024px;
	height: 100px;
}

.line_height
    {
        line-height:38px;
    }

.bg
{
	background-image: url("/app/assets/images/template/bg8.jpg");
    background-position-y: -50px; 
	height:100%;

}

.instruction_text
{
	font-weight:bold;
	color:#fff;

}
.container
{
	background-color: #3A821F;
	float: left;
	height: 350px;
	margin-top: 10%;
	opacity: 0.9;
	width: 60%;
}

.summary
{
	margin-left: 10%;
}


     @media only screen and (max-device-width: 800px)
     {
         h1 {
                font-size: 1.5em;
                font-weight: normal;
            }

         .container {
            background-color: #3A821F;
             float: left;
            height: 100%;
            opacity: 0.9;
            width: 100%;
            margin-top: 0px;
         }
         .summary {
                margin-left: 4%;
                margin-top: 26px;
            }
    }
    @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
         h1 {
                font-size: 1.5em;
                font-weight: normal;
            }

        .line_height {
                    line-height: 20px;
        }
         .container {
            background-color: #3A821F;
             float: left;
            height: 100%;
            opacity: 0.9;
            width: 100%;
            margin-top: 0px;
         }
         .summary {
                margin-left: 4%;
                margin-top: 68px;
            }
    }
}
