/* Intro page */
.intro-container {
  height: 100%;
  width: 100%;
}

.content {
  height: 100%;
  margin: auto;
  overflow-x: hidden;
  width: 100%;
}

.black {
  color: $black;
}

.white {
  color: $white;
}


.intro-container {


  body {
    font-size: 16px;
  }


  .flex-container {
    display: flex;
    display: -webkit-flex;
  }

  .left-side {
    border-right: 1px solid #ccc;
    text-align: right;
    text-transform: uppercase;
    padding-right: 10px;
    width: 50%;
  }

  .right-side {
    border-left: 1px solid #ccc;
    text-align: left;
    text-transform: uppercase;
    padding-left: 10px;
    width: 50%;
  }


  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

  }

  .instruction_text {
    color: #fff;
    font-weight: bold;
    position: relative;
    top: 10px;
  }


  @media only screen and (max-device-width: 700px) {

  }
  @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait) {
    .content {
      font-size: 0.875em;
    }


    .bg {
      height: 100%;
    }

    .instruction_text {
      font-size: 14px;
    }
  }
}





.static-page3 {
  h1 {
    font-size: 1.875em;
    font-weight: normal;
  }

  .intro {
    width: 100%;
    border-top: 2px solid #ccc;
  }

  .bg {
    background-image: url("../../assets/images/template/bg3.jpg");
    height: 100%;
  }

  .instruction_text {
    font-weight: bold;
    color: #fff;
  }

  .flex-container {
    display: -webkit-flex;
    display: flex;
    background-color: #5e9e44;
    margin-top: 30%;
    height: 240px;
    opacity: 0.9;
  }

  .intro_heading {
    margin-left: 76px;
    margin-top: 40px;
  }

  .intro_para {
    margin-left: 82px;
    width: 688px;
    margin-top: 24px;
  }

  .intro_list {
    margin-left: 25px;
  }
  @media only screen and (max-device-width: 1024px) {
    .bg {
      //background-position-x: -150px;
      height: 600px;
    }

    .flex-container {
      margin-top: 350px;
    }
  }
  @media only screen and (max-device-width: 700px) {
    h1 {
      font-size: 1.5em;
      font-weight: normal;
    }

    .flex-container {
      display: -webkit-flex;
      display: flex;
      background-color: #5e9e44;
      height: 60%;
      width: 60%;
      opacity: 0.9;
      margin-top: 0;
      margin-left: 50%;
    }

    .intro {
      width: 100%;
      border-top: 2px solid #ccc;
      height: 540px;
    }

    .intro_para {
      margin-left: 10px;
      width: 76%;
      margin-top: 24px;
    }

    .intro_heading {
      margin-left: 12px;
      //margin-top: 10px;
    }

    .bg {
      background-position-x: -350px;
      //height: 530px;
    }
  }
  @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait) {
    h1 {
      font-size: 1.5em;
      font-weight: normal;
    }

    .bg {
      height: 520px;
    }

    .flex-container {
      display: -webkit-flex;
      display: flex;
      background-color: #5e9e44;
      height: 30%;
      width: 100%;
      opacity: 0.9;
      margin-top: 292px;
      margin-left: 0;
    }

    .intro {
      width: 100%;
      border-top: 2px solid #ccc;
      height: 520px;
    }

    .intro_para {
      margin-left: 11px;
      width: 306px;
      margin-top: 0;
    }

    .intro_heading {
      margin-left: 12px;
      margin-top: 10px;
    }

    .bg {
      background-position-x: -430px;
    }
  }
}

.static-page4 {
  h1 {
    font-size: 1.875em;
    font-weight: normal;
  }

  .flex-container {
    display: -webkit-flex;
    display: flex;
    background-color: #5e9e44;
    margin-top: 22%;
    height: 335px;
    opacity: 0.9;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    width: 30%;
    margin: auto;
  }

  .bg {
    background-image: url("../../assets/images/template/bg4.jpg");
    height: 100%;
  }

  .instruction_text {
    font-weight: bold;
    color: #fff;
  }

  .intro {
    width: 100%;
    border-top: 2px solid #ccc;
  }

  .intro_heading {
    width: 100%;
    margin-top: 55px;
    text-align: center;
  }

  .box1,
  .box2,
  .box3,
  .box4 {
    width: 90%;
  }

  .container {
    -webkit-column-count: 4;
    /* Chrome, Safari, Opera */
    -moz-column-count: 4;
    /* Firefox */
    column-count: 4;
    text-align: center;
    width: 70%;
    margin: auto;
  }

  .img_caption {
    margin: auto;
    text-align: center;
    width: 80%;
    margin-top: 5%;
  }
  @media only screen and (max-device-width: 1024px) {
    .bg {
      //background-position-x: -150px;
      height: 600px;
    }

    .flex-container {
      margin-top: 254px;
    }
  }
  @media only screen and (max-device-width: 700px) {
    h1 {
      font-size: 1.5em;
    }

    .flex-container {
      margin-top: 5%;
    }

    .intro_heading {
      width: 100%;
      margin-top: 2%;
    }

    .container {
      width: 90%;
    }

    .img_caption {
      width: 100%;
    }
  }
  @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait) {
    h1 {
      font-size: 1.5em;
    }

    .content {
      font-size: 0.875em;
    }

    .intro_heading {
      width: 100%;
      margin-top: 5%;
    }

    .container {
      -webkit-column-count: 2;
      /* Chrome, Safari, Opera */
      -moz-column-count: 2;
      /* Firefox */
      column-count: 2;
      text-align: center;
      width: 80%;
      margin: auto;
    }

    .flex-container {
      height: 550px;
      margin-top: 10%;
      width: 100%;
    }

    .box1,
    .box2,
    .box3,
    .box4 {
      width: 100%;
      height: 160px;
    }

    .img_caption {
      width: 80%;
    }
  }
}

.interactivity1 {
  h1 {
    font-size: 1.875em;
    font-weight: normal;
  }

  .content_margin {
    width: 90%;
  }

  .flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
  }

  .content_pading {
    margin-top: 10px;
  }

  .left-side {
    width: 100%;
  }

  .middle_align {
    vertical-align: middle;
  }

  .right-side {
    bottom: 60px;
    right: 10px;
    position: absolute;
  }

  .bg {
    background-image: url("../../assets/images/template/bg5.jpg");
    display: inline-block;
    height: 100%;
    width: 100%;
    background-position-y: -50px;
  }

  .instruction_text {
    color: #fff;
    font-weight: bold;
    margin: 10px;
  }

  .intro {
    background-color: #5e9e44;
    float: left;
    height: 562px;
    opacity: 0.9;
    width: 50%;
  }

  .intro_heading {
    margin-left: 5%;
    margin-top: 10%;
    width: 70%;
  }

  .intro_para {
    margin-left: 5%;
    margin-top: 40px;
    width: 75%;
  }

  .btn_div {
    float: left;
    margin: 8% auto auto 3%;
    width: 100%;
  }

  .buttons {
    display: flex;
    display: -webkit-flex;
    margin-top: 10px;
  }

  button {
    color: #5e9e44;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    height: 55px;
    margin-left: 10px;
    width: 200px;
    background-color: white;
  }

  .popup-container {
    background: white;
    color: #333;
    padding: 10px;
    width: 465px;
    height: 250px;
  }
  @media only screen and (max-device-width: 1024px) {
    .bg {
      background-image: url("../../assets/images/template/bg5.jpg");
      //background-position-y: -70px;
      height: 620px;
      width: 100%;
    }

    .intro {
      background-color: #5e9e44;
      float: left;
      height: 600px;
      opacity: 0.9;
      width: 50%;
    }
  }

  @media only screen and (max-device-width: 700px) {
    h1 {
      font-size: 1.5em;
    }

    .content {
      font-size: 0.875em;
    }

    .intro {
      width: 60%;
    }

    .intro_heading {
      margin-left: 2%;
      margin-top: 0;
      width: 100%;
    }

    .middle_align {
      vertical-align: middle;
      width: 3%;
    }

    .intro_para {
      margin-top: 0;
    }

    .buttons {
      margin: inherit;
    }

    button {
      height: 40px;
    }

    .btn_div {
      margin: 5% auto auto 3%;
    }

    .popup-container {
      width: 90%;
      margin: 10px auto auto;
    }

    .right-side {
      right: 0;
      bottom: auto;
      position: absolute;
      width: 100%;
      margin: auto;
    }


  }

    @media only screen and (max-device-width: 700px) {


        .intro {
      width: 100%;
    }
        .btn_div {
      margin: 0 auto auto 3%;
    }

    }
  @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait) {
    h1 {
      font-size: 1.5em;
    }

    .intro {
      width: 100%;
    }

    .intro_heading {
      width: 100%;
      margin-top: 40px;
    }

    .intro_para {
      margin-top: 0;
    }

    .buttons {
      display: block;
      margin-left: 10%;
    }

    button {
      height: 40px;
      margin: 5px;
    }

    .btn_div {
      margin: 0 auto auto 3%;
    }

    .middle_align {
      vertical-align: middle;
      width: 3%;
    }

    .right-side {
      right: 0;
      bottom: 22%;
      width: 100%;
    }

    .popup-container {
      margin:0px auto;
      width: 90%;
      height: 200px;

    }
  }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
    {

        .bg {
          background-image: url("../../assets/images/template/bg5.jpg");
          //background-position-y: -70px;
          height: 620px;
          width: 100%;
        }

        .intro {
          background-color: #5e9e44;
          float: left;
          height: 626px;
          opacity: 0.9;
          width: 60%;
        }

         .right-side {
          right: 0;
          bottom: 36%;
          width: 100%;
        }

        .popup-container {

          width: 57%;

        }
    }
}

.interactivity2 {
  h1 {
    font-size: 1.875em;
    font-weight: normal;
  }

    .middle_align{
    vertical-align: middle;
}

  .flex-container {
    background-color: #5e9e44;
    display: -webkit-flex;
    display: flex;
    height: 170px;
    width: 100%;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    width: 30%;
    margin: auto;
  }

  .bg {
    background-image: url("../../assets/images/template/bg6.jpg");
    background-position-y: -70px;
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  .instruction_text {
    font-weight: bold;
    color: #fff;
    margin: 10px;
  }

  .intro {
    float: left;
    height: 450px;
    width: 100%;
    margin-top: 95px;
    opacity: 0.9;
  }

  .intro_heading {
    margin-left: 66px;
  }

  .intro_para {
    margin-left: 69px;
  }

  .btn_div {
    width: 100%;
    float: left;
    margin-top: 13px;
    margin-left: 54px;
  }

  .container {
    background-color: #335727;
    height: 67px;
    opacity: 0.9;
  }

  .buttons {
    margin-top: 72px;
    margin-left: 123px;
  }

  button {
    cursor: pointer;
    height: 67px;
    width: 255px;
    font-size: 1em;
    color: #5e9e44;
    font-weight: bold;
    background-color: white;
  }

  .tab-container {
    background-color: $white;
    color: #333;
    height: 190px;
    padding: $base-padding;
  }
  @media only screen and (max-device-width: 1024px)  {
    .bg {
      background-image: url("../../assets/images/template/bg6.jpg");
      //background-position-y: -70px;
      height: 620px;
      width: 100%;
    }

    .buttons {
      display: block;
      margin-left: 13%;
      width: 80%;

      //margin: auto auto auto 5%;
    }

  }
  @media only screen and (max-device-width: 700px) {
    h1 {
      font-size: 1.5em;
    }

    .content {
      font-size: 0.875em;
    }

    .container {
      width: 100%;
    }

    .intro {
      margin-top: 5%;
    }

    .intro_para {
      margin-left: 5%;
      margin-bottom: 2%;
    }

    .intro_heading {
      margin-left: 5%;
    }

    .flex-container {
      height: 25%;
    }

    .middle_align {
      vertical-align: middle;
      width: 2%;
    }

    .buttons {
      // display: flex;
      // display: -webkit-flex;
      margin-left: 5%;
      margin-top: 6%;
      width: 100%;
    }

    .btn_div {
      margin-top: 0;
      margin-left: 5%;
    }

    button {
      width: 30%;
    }

    .tab-container {
      background-color: #FFFFFF;
      color: #333;
      height: 190px;
      padding: 10px;
      position: absolute;
      width: 90%;
      left: 0;
      right: 0;
      margin: -10px auto auto;
      top: 5%;
      height: 36%;
    }
  }


  @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait) {
    h1 {
      font-size: 1.5em;
    }

    .buttons {
      display: block;
      margin-top: 10%;
      width: 80%;
      margin: auto auto auto 5%;
    }

    .container {
      margin-top: 13%;
      height: 520px;

    }

    button {
      width: 100%;
      margin: 5%;
    }

       .middle_align {
      vertical-align: middle;
      width: 5%;
    }

    .tab-container {
      position: absolute;
      top: 5%;
      left: 0;
      right: 0;
      width: 90%;
      margin: auto;
        margin-top: 100px;
      padding: 20px;
      height: 40%;
      z-index: 99999;
    }
  }

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
    {
        .buttons {
             width: 100%;
            margin-left: 8%;

        }

        button{
            width: 220px;
        }

    }
}
.static-page5 {
  .li_padding {
    width: 94%;
  }

  h1 {
    font-size: 1.875em;
    font-weight: normal;
  }

  .header {
    margin: auto;
    background-color: #ddd;
    width: 1024px;
    height: 100px;
  }

  .content {
    margin: auto;
    width: 100%;
    height: 562px;
  }

  .black {
    color: #000;
  }

  .white {
    color: #fff;
  }

  /*.footer {
    margin: auto;
    background-color: #ddd;
    width: 1024px;
    height: 100px;
  }*/

  .line_height {
    line-height: 38px;
  }

  .bg {
    background-image: url("../../assets/images/template/BG8.jpg");
    background-position-y: -50px;
    height: 100%;
  }

  .instruction_text {
    font-weight: bold;
    color: #fff;
  }

  .container {
    background-color: #3A821F;
    float: left;
    height: 350px;
    margin-top: 10%;
    opacity: 0.9;
    width: 60%;
  }

  .summary {
    margin-left: 10%;
  }
  @media only screen and (max-device-width: 1024px) {
    .bg {
      background-image: url("../../assets/images/template/BG8.jpg");
    }

    .content {
      height: 620px;
    }
  }
  @media only screen and (max-device-width: 700px) {
    h1 {
      font-size: 1.5em;
      font-weight: normal;
    }

    .container {
      background-color: #3A821F;
      float: left;
      height: 100%;
      opacity: 0.9;
      width: 100%;
      margin-top: 0;
    }

    .summary {
      margin-left: 4%;
      margin-top: 26px;
    }
  }
  @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait) {
    h1 {
      font-size: 1.5em;
      font-weight: normal;
    }

    .line_height {
      line-height: 20px;
    }

    .container {
      background-color: #3A821F;
      float: left;
      height: 100%;
      opacity: 0.9;
      width: 100%;
      margin-top: 0;
    }

    .summary {
      margin-left: 4%;
      margin-top: 68px;
    }
  }
}
