/* Intro page */
.bg{
    background-size: cover;
}
.intro-container {
    height: 100%;
    width: 100%;
}

.intro_head {
    color: #dc3635;
    font-size: 21px;
    letter-spacing: 1px;
    margin-left: 7%;
    margin-top: 5%;
    text-transform: uppercase;
}

.content {
    height: 100%;
    margin: auto;
    overflow-x: hidden;
    width: 100%;
}

.black {
    color: $black;
}

.white {
    color: $white;
}

.red {
    color: #dc3635;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
    .intro_head {
        color: #dc3635;
        font-size: 17px;
        letter-spacing: 0px;
        margin-left: 5%;
        margin-top: 10%;
        text-transform: uppercase;
    }
}
